<% f = Fixbox[0]%>
<% s = Fixbox[1]%>

<div class="container">
<div class="row">
    <div class="card">
      <div class="card-content">
        <% @artist.each do |artist| %>
        <span class="card-title"><%= artist.artist %></span>
              <ul class="collection">
                <div class="collection">
                  <a class="waves-effect waves-light collection-item btn modal-trigger btn-flat" href="#modal<%=s%>"><%= artist.album %><span class="badge"><%= artist.count %> Songs</span></a>


                  <div id="modal<%=s%>" class="modal modal-fixed-footer">
                    <div class="modal-content">

                      <h5><%= @artist.album %></h5>
                      <div class="collection">
                        <a href="#!" class="left-align collection-item" onclick="
		                      soundManager.stopAll();
		                        var mySound = soundManager.createSound({url: '<%= album.file_location %>'});
		                          window.sm2BarPlayers[0].actions.play(<%= f %>);
                              Materialize.toast('Now Playing <%= album.artist %> - <%= album.title %>', 3000)
		                            "><%= album.album %> - <%= album.track_no %> - <%= album.title %></a>
                                <% f.increment! %>
                      </div>


                      <% s.increment! %>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                    </div>
                  </div>

                </div>

              </ul>
              <% end %>
      </div>
    </div>
</div>
</div>
